{% include 'caixaMensagem.html' %}


<style>

.quadro {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 8px;
  padding: 16px;
  background: #013a17;
  font-family: sans-serif;
}

.quadro__rotulo {
  padding: 8px;
  text-align: center;
  text-decoration: underline;
}

.quadro__rotulo h2 {
  background-color: #fff;
  border-radius: 10px;
  padding: 4px;
}

.quadro__chefe {
  /*background: #c8e6c9;*/
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.quadro__chefe .quadro__equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quadro__equipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 8px;
  /*background: #64b5f6;*/
  padding: 8px;  
}

.quadro__equipe {
  border-radius: 10px;
  padding: 8px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.quadro__equipe h5 {
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  padding: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quadro__adm {
  /*background: #cfd8dc;*/
  padding: 8px;
  display: flex;
  gap: 20px;
}

.quadro__outros {
  /*background: #bbdefb;*/
  padding: 8px;
  display: flex;
  gap: 20px;
}



.card__pm {
    background-color: #fff;
    width: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10%;
    font-size: 13px;
}

.card_pm__guerra {
    font-weight: 700;
}

.card_pm__ptgr {
    color: rgb(51, 51, 51);
    text-align: center;
}

.card_pm__foto img {
  border-radius: 15%;
}

.container__card_pm {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: left;
  
}

.container__card_pm p {
  width: 100%;
  line-height: 13px;
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
}

.equipe__A {
  background-color: #A0D468;
  border: 2px solid #91BF5D;
}

.equipe__B {
  background-color: #FB6E52;
  border: 2px solid #E46246;
}

.equipe__C {
  background-color: #5E9DEC;
  border: 2px solid #518ED5;
}

.equipe__D {
  background-color: #D73449;
  border: 2px solid #C32E42;
}


.equipe__E {
  background-color: #b8a470;
  border: 2px solid #E5BB4B;
}


.quadro__cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}




</style>


<section class="">


    <div class="quadro">
    <!-- <div class="quadro__equipe">
        <h2>COPOM - CPI-7</h2>
    </div> -->

    <div class="quadro__cabecalho">

      <img src="public/assets/images/cpi7.png" height="200px" class="" >

      <div class="quadro__equipe" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">

        <h5>Chefe COPOM</h5>

        <div class="card__pm">

          <div class="card_pm__foto">
              <img src="public/assets/foto-efetivo/{{ chefe.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{guerra}}" >
          </div>

          <div class="card_pm__guerra">
              {{ chefe.guerra }}
          </div>

          <div class="card_pm__ptgr">
              {{ chefe.pt_gr }} 
              <br> {{ chefe.re }}-{{ chefe.dg_re }}              
          </div>

          </div>
       
      </div>  

            <img src="public/assets/images/copom.png" height="170px" class="" >



    </div>


    <!--<div class="quadro__chefe">

      <div class="quadro__equipe">

        <h5>Chefe COPOM</h5>

        <div class="card__pm">

          <div class="card_pm__foto">
              <img src="public/assets/foto-efetivo/{{ chefe.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{guerra}}" >
          </div>

          <div class="card_pm__guerra">
              {{ chefe.guerra }}
          </div>

          <div class="card_pm__ptgr">
              {{ chefe.pt_gr }} 
              <br> {{ chefe.re }}-{{ chefe.dg_re }}
              
          </div>

          </div>
       
      </div>            

    </div> -->


    <div class="quadro__equipes">
        <div class="quadro__equipe equipe__A">
          <h5>Equipe A</h5>

            <div class="container__card_pm">
              
              <p>Supervisor</p>


              {% for pm in efetivo %}

                {% if pm.equipe == 'A' and pm.funcao_copom == 'Supervisor' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}

              <p>Atendente 190</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'A' and pm.funcao_copom == 'Atendente 190' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}


              <p>Despachador</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'A' and pm.funcao_copom == 'Despachador' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}


          </div>

        </div>


        <div class="quadro__equipe equipe__B">
          <h5>Equipe B</h5>

            <div class="container__card_pm">
            <p>Supervisor</p>


              {% for pm in efetivo %}

                {% if pm.equipe == 'B' and pm.funcao_copom == 'Supervisor' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}

              <p>Atendente 190</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'B' and pm.funcao_copom == 'Atendente 190' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}


              <p>Despachador</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'B' and pm.funcao_copom == 'Despachador' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}
          </div>

        </div>


        <div class="quadro__equipe equipe__C">
          <h5>Equipe C</h5>

            <div class="container__card_pm">
            <p>Supervisor</p>


              {% for pm in efetivo %}

                {% if pm.equipe == 'C' and pm.funcao_copom == 'Supervisor' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}

              <p>Atendente 190</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'C' and pm.funcao_copom == 'Atendente 190' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}


              <p>Despachador</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'C' and pm.funcao_copom == 'Despachador' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}
          </div>

        </div>

        <div class="quadro__equipe equipe__D">
          <h5>Equipe D</h5>

            <div class="container__card_pm">
            <p>Supervisor</p>


              {% for pm in efetivo %}

                {% if pm.equipe == 'D' and pm.funcao_copom == 'Supervisor' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}

              <p>Atendente 190</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'D' and pm.funcao_copom == 'Atendente 190' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}


              <p>Despachador</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'D' and pm.funcao_copom == 'Despachador' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}
          </div>

        </div>

        <div class="quadro__equipe equipe__E">
          <h5>Equipe E</h5>

            <div class="container__card_pm">
            <p>Supervisor</p>


              {% for pm in efetivo %}

                {% if pm.equipe == 'E' and pm.funcao_copom == 'Supervisor' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}

              <p>Atendente 190</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'E' and pm.funcao_copom == 'Atendente 190' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}


              <p>Despachador</p>

              {% for pm in efetivo %}

                {% if pm.equipe == 'E' and pm.funcao_copom == 'Despachador' %}

                  <div class="card__pm">
          
                    <div class="card_pm__foto">
                        <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                    </div>
    
                    <div class="card_pm__guerra">
                        {{ pm.guerra }}
                    </div>
    
                    <div class="card_pm__ptgr">
                        {{ pm.pt_gr }}
                        <br>{{ pm.re }}-{{ pm.dg_re }}
                                                    
                    </div>
    
                  </div>
                {% endif %}      
              {% endfor %}
          </div>

        </div>

    </div>
    <div class="quadro__adm">

      <div class="quadro__equipe">

        <h5>Administração COPOM</h5>
  
        <div class="container__card_pm">
          {% for pm in adm %}

            {% if pm.situacao == 'Ativo' %}

              <div class="card__pm">
      
                  <div class="card_pm__foto">
                      <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                  </div>

                  <div class="card_pm__guerra">
                      {{ pm.guerra }}
                  </div>

                  <div class="card_pm__ptgr">
                      {{ pm.pt_gr }}
                      <br>
                      {{ pm.re }}-{{ pm.dg_re }}                      
                  </div>
      
              </div>

            {% endif %}
    
          {% endfor %}
        </div>

      </div>





    </div>



      <div class="quadro__outros">

        <div class="quadro__equipe">

          <h5>Agregados</h5>

          <div class="container__card_pm">

            {% for pm in efetivo %}
                  {% if pm.situacao == 'Agregado' %}

                    <div class="card__pm">
            
                      <div class="card_pm__foto">
                                <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                            </div>
            
                            <div class="card_pm__guerra">
                                {{ pm.guerra }}
                            </div>
            
                            <div class="card_pm__ptgr">
                                {{ pm.pt_gr }}
                                <br>
                                {{ pm.re }}-{{ pm.dg_re }}
                                
                            </div>
            
                    </div>
                  {% endif %}      
                {% endfor %}
          </div>
        </div>

        <div class="quadro__equipe">
          <h5>Afastamento para inatividade</h5>

          <div class="container__card_pm">

            {% for pm in efetivo %}
                  {% if pm.situacao == 'Inativando' %}

                    <div class="card__pm">
            
                      <div class="card_pm__foto">
                                <img src="public/assets/foto-efetivo/{{ pm.re }}.png" onerror="this.src='public/assets/images/default-user.png'" height="100px" class="" alt="{{pm.guerra}}" >
                            </div>
            
                            <div class="card_pm__guerra">
                                {{ pm.guerra }}
                            </div>
            
                            <div class="card_pm__ptgr">
                                {{ pm.pt_gr }}
                                <br>
                                {{ pm.re }}-{{ pm.dg_re }}
                                
                            </div>
            
                    </div>
                  {% endif %}      
                {% endfor %}
          </div>
        </div>


      </div>
    </div>



</section>


<script>

        // Alterna a classe 'recolhido' no aside
        document.querySelector('aside').classList.toggle('recolhido');
        // Alterna a classe 'recolhido' no botão
        document.querySelector('.recolhe__menu').classList.toggle('recolhido');
        document.querySelector(".body__cpi").classList.toggle("recolhido");

</script>