<div class="container mt-5">


    <h1>Pesquisar Policial</h1>

    <table class="table table-bordered">
        <tr>
            <td rowspan="5" class="td__left"><img src="data:image/png;base64,{{foto}}" alt="">
            </td>
            <td class="td__left">Posto/Graduação</td>
            <td class="td__left"><strong>{{ptgr}}</strong></td>
            <td class="td__left">RE</td>
            <td class="td__left"><strong>{{re}}-{{dgre}}</strong></td>
        </tr>
        <tr>
            <td class="td__left">Nome</td>
            <td class="td__left"><strong>{{nome}}</strong></td>
            <td class="td__left">Guerra</td>
            <td class="td__left"><strong>{{guerra}}</td>
        </tr>
        <tr>
            <td class="td__left">Unidade</td>
            <td class="td__left"><strong>{{opm}}</strong></td>
            <td class="td__left">Código OPM</td>
            <td class="td__left"><strong>{{codopm}}</strong></td>
        </tr>
        <tr>
            <td class="td__left">Email</td>
            <td class="td__left"><strong>{{email}}</strong></td>
            <td class="td__left">Telefone</td>
            <td class="td__left"><strong>{{telefone}}</strong></td>
        </tr>
        <tr>
            <td class="td__left">CPF</td>
            <td class="td__left"><strong>{{cpf}}</strong></td>
            <td class="td__left">Função</td>
            <td class="td__left"><strong>{{funcao}}</strong></td>
        </tr>
    </table>

</div>