{% include 'caixaMensagem.html' %}


<style>

.container__equipes_servico {
    display: grid;
    grid-template-areas: "colunaDia colunaNoite"
                         "supervisorDia supervisorNoite"
                         "atendenteDia atendenteNoite"
                         "despachadorDia despachadorNoite"
                         "dejemDia dejemNoite"
                         "afastamentosDia afastamentosNoite";
    grid-template-columns: 300px 300px;
    margin: 20px;
}

.coluna_dia {
    grid-area: colunaDia;
}

.coluna_noite {
    grid-area: colunaNoite;
}

.supervisor_dia {
    grid-area: supervisorDia;
}

.supervisor_noite {
    grid-area: supervisorNoite;
}

.atendente_dia {
    grid-area: atendenteDia;
}

.atendente_noite {
    grid-area: atendenteNoite;
}

.despachador_dia {
    grid-area: despachadorDia;
}

.despachador_notie {
    grid-area: despachadorNoite;
}

.dejem_dia {
    grid-area: dejemDia;
}

.dejem_noite {
    grid-area: dejemNoite;
}


.afastamentos_dia {
    grid-area: afastamentosDia;
}

.afastamentos_noite {
    grid-area: afastamentosNoite;
}

.container__equipes_servico h5 {
    background-color: #383535;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

.container__equipes_servico p {
    line-height: 18px;
    /*background-color: #ABAEFF;*/
    border-radius: 7px;
    font-size: 13px;
    margin: 5px 10px;
    padding: 1px 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.dia {
    /*background-color: #aadef7;*/
    border: 1px solid #C4C8CA;
}

.noite {
   /* background-color: #4f72ff;*/
    border-top: 1px solid #C4C8CA;
    border-right: 1px solid #C4C8CA;
    border-bottom: 1px solid #C4C8CA;
}

.bg_equipeA {
    background-color: #baf17f;
}

.bg_equipeB {
    background-color: #ff8067;    
}

.bg_equipeC {
    background-color: #91c0fa;    
}

.bg_equipeD {
    background-color: #fda3af;    
}

.bg_equipeE {
    background-color: #fadb52;    
}


.dejem_periodo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
}   


.dejem_periodo_hora {
    
}


.dejem_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dejem_periodo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 1px 5px;
}

.dejem_periodo_hora {
    height: 20px;
    background-color: #eee;
    padding: 1px 6px;
    font-size: 13px; 
}

.dejem_periodo_hora.preenchida {
    background-color: #4caf50; /* verde para indicar serviço */
}


.preenchido_sgt {
    background-color: rgb(240, 152, 152);
}

.preenchido_cbsd {
    background-color: #5ba4fd;
    margin-top: 2px;
}

.preenchido_oficial {
    background-color: #f7e597;
}

.preenchido_primeiro {
    border-radius: 7px 0 0 7px;
}

.preenchido_ultimo {
    border-radius: 0 7px 7px 0;
}




</style>

<div class="row mt-5">
    <div class="col-md-2">
        <input type="date" class="form-control" name="data" id="data">
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" onclick="irParaEscala()">Ir</button>
    </div>
</div>

<div class="mt-3">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark" onclick="diaAnterior()">Anterior</button>
        <button type="button" class="btn btn-dark" onclick="irParaHoje()">Hoje</button>
        <button type="button" class="btn btn-dark" onclick="diaSeguinte()">Próximo</button>
    </div>
</div>

<script>

    const hoje = new Date();
    const ano = hoje.getFullYear();
    const mes = String(hoje.getMonth() + 1).padStart(2, '0');
    const dia = String(hoje.getDate()).padStart(2, '0');
    const dataFormatada = `${ano}-${mes}-${dia}`;
    document.getElementById('data').value = dataFormatada;


    // Obtém a string de consulta da URL atual
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    // Verifica se existe um parâmetro chamado "nome"
    if (urlParams.has('data')) {
        data = urlParams.get('data');
        document.getElementById('data').value = data;
    } 

  
    function irParaEscala() {
        const data = document.getElementById('data').value;
        location.href = '?pagina=escala&data=' + data;
    }

    function irParaHoje() {
        location.href = '?pagina=escala&data=' + dataFormatada;
    }

function diaAnterior() {
    let data = urlParams.get('data'); // Obtém a data da URL
    let dataObj = new Date(data); // Converte a data para um objeto Date
    dataObj.setDate(dataObj.getDate() - 1); // Subtrai um dia da data

    let novaData = dataObj.toISOString().split('T')[0]; // Converte de volta para o formato YYYY-MM-DD
    location.href = '?pagina=escala&data=' + novaData; // Atualiza a URL com a nova data
}

function diaSeguinte() {
    let data = urlParams.get('data'); // Obtém a data da URL
    let dataObj = new Date(data); // Converte a data para um objeto Date
    dataObj.setDate(dataObj.getDate() + 1); // Adiciona um dia à data

    let novaData = dataObj.toISOString().split('T')[0]; // Converte de volta para o formato YYYY-MM-DD
    location.href = '?pagina=escala&data=' + novaData; // Atualiza a URL com a nova data
}




</script>


<div class="container__equipes_servico">

    <div class="coluna_dia">
        <h4>Equipe {{ equipeDia }} - Diurna</h4>
    </div>


    <div class="coluna_noite">
        <h4>Equipe {{ equipeNoite }} - Noturna</h4>
    </div>


    {% for equipe, dados in efetivoPorEquipe %}


        {% if equipe == equipeDia %}
            <div class="dia supervisor_dia">
                <h5>Supervisor </h5>
                {% for sup in dados['Supervisor'] %}
                <p class="bg_equipe{{ sup.equipe }}">
                    {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                </p>
                {% endfor %}
            </div>
        {% endif %}            


        {% if equipe == equipeNoite %}
         <div class="noite supervisor_noite">
                <h5>Supervisor</h5>
                {% for sup in dados['Supervisor'] %}
                <p class="bg_equipe{{ sup.equipe }}">
                    {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                </p>
                {% endfor %}
        </div>
        {% endif %}
        
        
        {% if equipe == equipeDia %}
            <div class="dia atendente_dia">
                <h5>Atendente 190</h5>
                {% for at in dados['Atendente 190'] %}
                <p class="bg_equipe{{ at.equipe }}">
                    {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                </p>
                {% endfor %}
            </div>
        {% endif %}            


        {% if equipe == equipeNoite %}
            <div class="noite atendente_noite">
                <h5>Atendente 190</h5>
                {% for at in dados['Atendente 190'] %}
                <p class="bg_equipe{{ at.equipe }}">
                    {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                </p>
                {% endfor %}
        </div>
        {% endif %}            


        {% if equipe == equipeDia %}
            <div class="dia despachador_dia">
                <h5>Despachador</h5>
                {% for desp in dados['Despachador'] %}
                <p class="bg_equipe{{ desp.equipe }}">
                    {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                </p>
                {% endfor %}
            </div>
        {% endif %}            


        {% if equipe == equipeNoite %}
            <div class="noite despachador_noite">
                <h5>Despachador</h5>
                {% for desp in dados['Despachador'] %}
                <p class="bg_equipe{{ desp.equipe }}">
                    {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                </p>
                {% endfor %}
        </div>
        {% endif %}

        <div class="dia dejem_dia">
            <h5>DEJEM</h5>

            <!--<div class="dejem_container">
                {% for dejem in dejem_diurna %}
                    {% if dejem.cbsd|default(0) > 0 %}
                        <div class="dejem_periodo">
                            {% set inicioHora = dejem.dejem_data|date("G") %}
                            {% set terminoHora = dejem.dejem_termino|date("G") %}
                            
                            {# Ajusta limites para o período 6h–18h #}
                            {% if inicioHora < 6 %}
                                {% set inicioHora = 6 %}
                            {% endif %}
                            {% if terminoHora > 18 %}
                                {% set terminoHora = 18 %}
                            {% endif %}
                            
                            {% for hora in 6..17 %}
                                {% if hora >= inicioHora and hora < terminoHora %}
                                    <div class="dejem_periodo_hora preenchida"></div>
                                {% else %}
                                    <div class="dejem_periodo_hora"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div> -->


           <!-- <div class="dejem_container">
                {% for dejem in dejem_diurna %}

                    
                    {% if dejem.cbsd|default(0) > 0 %}

                        {% set cbsd = dejem.cbsd %}

                        {% for i in 1..dejem.cbsd %}
                           
                            <div class="dejem_periodo">
                                {% set inicioHora = dejem.dejem_data|date("G") %}
                                {% set terminoHora = dejem.dejem_termino|date("G") %}
                                
                                {# Ajusta limites para o período 6h–18h #}
                                {% if inicioHora < 6 %}
                                    {% set inicioHora = 6 %}
                                {% endif %}
                                {% if terminoHora > 18 %}
                                    {% set terminoHora = 18 %}
                                {% endif %}
                                
                                {% for hora in 6..17 %}
                                    {% if hora >= inicioHora and hora < terminoHora %}
                                        <div class="dejem_periodo_hora preenchida"></div>
                                    {% else %}
                                        <div class="dejem_periodo_hora"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>



                        {% endfor %}

                    {% endif %}

                    {% if dejem.sgt|default(0) > 0 %}

                        {% set sgt = dejem.sgt %}

                        {% for i in 1..dejem.sgt %}
                           
                            <div class="dejem_periodo">
                                {% set inicioHora = dejem.dejem_data|date("G") %}
                                {% set terminoHora = dejem.dejem_termino|date("G") %}
                                
                                {# Ajusta limites para o período 6h–18h #}
                                {% if inicioHora < 6 %}
                                    {% set inicioHora = 6 %}
                                {% endif %}
                                {% if terminoHora > 18 %}
                                    {% set terminoHora = 18 %}
                                {% endif %}
                                
                                {% for hora in 6..17 %}
                                    {% if hora >= inicioHora and hora < terminoHora %}
                                        <div class="dejem_periodo_hora preenchida preenchida_sgt"></div>
                                    {% else %}
                                        <div class="dejem_periodo_hora"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>



                        {% endfor %}

                    {% endif %}


                {% endfor %}
            </div> -->

            <div class="dejem_container">
                {% for dejem in dejem_diurna %}

                    <!--<h5>ID: {{ dejem.dejem_id_escala }} {{ dejem.dejem_data|date("G") }} - {{ dejem.dejem_termino|date("G") }}</h5> -->


                    {% if dejem.cbsd > 0 %}
                            
                        <div class="dejem_periodo">

                            {% for i in 1..dejem.cbsd %}

                                {% set inicioHora = dejem.dejem_data|date("G") %}
                                {% set terminoHora = dejem.dejem_termino|date("G") %}
                                
                                {% if inicioHora < 6 %}
                                    {% set inicioHora = 6 %}
                                {% endif %}
                                {% if terminoHora > 18 %}
                                    {% set terminoHora = 18 %}
                                {% endif %}


                                {% for hora in 6..17 %}

                                    {% if hora >= inicioHora and hora < terminoHora %}

                                        {% if hora == 6 or hora == inicioHora %}
                                            <div class="dejem_periodo_hora preenchido_cbsd preenchido_primeiro">
                                                <span>{{ dejem.dejem_data|date("G:i") }}h</span>
                                            </div>
                                        {% elseif hora == 17 or hora == terminoHora - 1 %}
                                            <div class="dejem_periodo_hora preenchido_cbsd preenchido_ultimo"></div>
                                        {% else %}
                                            <div class="dejem_periodo_hora preenchido_cbsd"></div>
                                        {% endif %}

                                    {% else %}
                                        <div class="dejem_periodo_hora"></div>
                                    {% endif %}


                                {% endfor %}
   
                            {% endfor %}
                            
                        </div>

                    {% endif %}


                    {% if dejem.sgt > 0 %}
                        
                        <div class="dejem_periodo">

                            {% for i in 1..dejem.sgt %}

                                {% set inicioHora = dejem.dejem_data|date("G") %}
                                {% set terminoHora = dejem.dejem_termino|date("G") %}
                                
                                {% if inicioHora < 6 %}
                                    {% set inicioHora = 6 %}
                                {% endif %}
                                {% if terminoHora > 18 %}
                                    {% set terminoHora = 18 %}
                                {% endif %}


                                {% for hora in 6..17 %}

                                    {% if hora >= inicioHora and hora < terminoHora %}

                                        {% if hora == 6 or hora == inicioHora %}
                                            <div class="dejem_periodo_hora preenchido_sgt preenchido_primeiro">
                                                <span>{{ dejem.dejem_data|date("G:i") }}h</span>
                                            </div>
                                        {% elseif hora == 17 or hora == terminoHora - 1 %}
                                            <div class="dejem_periodo_hora preenchido_sgt preenchido_ultimo"></div>
                                        {% else %}
                                            <div class="dejem_periodo_hora preenchido_sgt"></div>
                                        {% endif %}

                                    {% else %}
                                        <div class="dejem_periodo_hora"></div>
                                    {% endif %}


                                {% endfor %}
   
                            {% endfor %}
                            
                        </div>

                    {% endif %}


                    {% if dejem.ten > 0 %}
                        
                        <div class="dejem_periodo">

                            {% for i in 1..dejem.ten %}

                                {% set inicioHora = dejem.dejem_data|date("G") %}
                                {% set terminoHora = dejem.dejem_termino|date("G") %}
                                
                                {% if inicioHora < 6 %}
                                    {% set inicioHora = 6 %}
                                {% endif %}
                                {% if terminoHora > 18 %}
                                    {% set terminoHora = 18 %}
                                {% endif %}


                                {% for hora in 6..17 %}

                                    {% if hora >= inicioHora and hora < terminoHora %}

                                        {% if hora == 6 or hora == inicioHora %}
                                            <div class="dejem_periodo_hora preenchido_oficial preenchido_primeiro">
                                                <span>{{ dejem.dejem_data|date("G:i") }}h</span>
                                            </div>
                                        {% elseif hora == 17 or hora == terminoHora - 1 %}
                                            <div class="dejem_periodo_hora preenchido_oficial preenchido_ultimo"></div>
                                        {% else %}
                                            <div class="dejem_periodo_hora preenchido_oficial"></div>
                                        {% endif %}

                                    {% else %}
                                        <div class="dejem_periodo_hora"></div>
                                    {% endif %}


                                {% endfor %}
   
                            {% endfor %}
                            
                        </div>

                    {% endif %}

                    
                

                    {% if dejem.cap > 0 %}
                        
                        <div class="dejem_periodo">

                            {% for i in 1..dejem.cap %}

                                {% set inicioHora = dejem.dejem_data|date("G") %}
                                {% set terminoHora = dejem.dejem_termino|date("G") %}
                                
                                {% if inicioHora < 6 %}
                                    {% set inicioHora = 6 %}
                                {% endif %}
                                {% if terminoHora > 18 %}
                                    {% set terminoHora = 18 %}
                                {% endif %}


                                {% for hora in 6..17 %}

                                    {% if hora >= inicioHora and hora < terminoHora %}

                                        {% if hora == 6 or hora == inicioHora %}
                                            <div class="dejem_periodo_hora preenchido_oficial preenchido_primeiro">
                                                <span>{{ dejem.dejem_data|date("G:i") }}h</span>
                                            </div>
                                        {% elseif hora == 17 or hora == terminoHora - 1 %}
                                            <div class="dejem_periodo_hora preenchido_oficial preenchido_ultimo"></div>
                                        {% else %}
                                            <div class="dejem_periodo_hora preenchido_oficial"></div>
                                        {% endif %}

                                    {% else %}
                                        <div class="dejem_periodo_hora"></div>
                                    {% endif %}


                                {% endfor %}
   
                            {% endfor %}
                            
                        </div>

                    {% endif %}
                    

                {% endfor %}



                


            </div>



        </div>


        <div class="noite dejem_noite">
            <h5>DEJEM</h5>


            <div class="dejem_container">

                {% for dejem in  dejem_noturna %}

                    <div class="dejem_periodo">

                        {% for i in 1..dejem.cbsd %}

                            {% set inicioHora = dejem.dejem_data|date("G") %}
                            {% set terminoHora = dejem.dejem_termino|date("G") %}

                            <p>{{inicioHora}}</p><p>{{terminoHora}}</p>

                        {% endfor %}

                    </div>


                        

                    

                {% endfor %}

            </div>
            

            
        </div>


        {% if equipe == equipeDia %}
            <div class="dia afastamentos_dia">
                <h5>Afastamentos</h5>
                {% for afast in dados['Afastamentos'] %}
                <p class="bg_equipe{{ afast.equipe }}">
                    [{{ afast.afastamento }}] {{ afast.pt_gr }} {{ afast.re }}-{{ afast.dg_re }} {{ afast.guerra }}
                </p>
                {% endfor %}
            </div>
        {% endif %}            


        {% if equipe == equipeNoite %}
            <div class="noite afastamentos">
                <h5>Afastamentos</h5>
                {% for afast in dados['Afastamentos'] %}
                <p class="bg_equipe{{ afast.equipe }}">
                    [{{ afast.afastamento }}] {{ afast.pt_gr }} {{ afast.re }}-{{ afast.dg_re }} {{ afast.guerra }}
                </p>
                {% endfor %}
        </div>
        {% endif %}
                

       



    {% endfor %}



</div>




<!--

<style>


    .container__equipes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container_equipe {
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        width: 400px;
        padding: 10px;
    }

    .container__equipes h3 {
       /* background-color: rgba(250, 250, 250, 0.5);*/
       color: #fff;
        border-radius: 25px;
        padding: 3px;
        text-align: center;
    }
    
    .container__equipes table td {
        padding: 1px 20px;
    }

    .equipe__dia {
    }
    
    .equipe__dia h3 {
        background-color: #4DB6E3;

    }

    .equipe__noite {
    }
    
    .equipe__noite h3 {
        background-color: #3A60F1;

    }


    .container__equipes_servico {
        border: 2px dotted #3A60F1;
        display: grid;
        grid-template-areas: "supervisao_dia supervisao_noite"
                             "atendente_dia atendente_noite"
                             "despacho_dia despacho_noite"
                             "afastamentos_dia afastamentos_noite";
    }

    .equipe__dia {
     
    }

    .equipe__noite {

    }

    .supervisao__dia {
        border: 1px dashed greenyellow;
        grid-area: supervisao_dia;

    }

    .supervisao__noite {
        border: 1px dashed greenyellow;
        grid-area: supervisao_noite;

    }

    .atendente__dia {
        border: 1px dashed purple;
        grid-area: atendente_noite;

    }

    .atendente__noite {
        border: 1px dashed purple;
        grid-area: atendente_dia;

    }


</style>

    <div class="container__cpi">

        <div class="container__equipes_servico">


        {% for equipe, dados in efetivoPorEquipe %}

                

                    <div class="equipes__secao equipe__dia" style="border: 3px dashed blue;">

                        <div class="supervisao__dia">
                            <h5>Supervisor</h5>
                            {% for sup in dados['Supervisor'] %}
                            <p>
                                {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                            </p>
                            {% endfor %}
                        </div>


                        <div class="atendente__dia">
                            <h5>Atendente 190</h5>
                            {% for at in dados['Atendente 190'] %}
                            <p>
                                {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                            </p>
                            {% endfor %}
                        </div>


            
                        <div class="despacho__dia">
                            <h5>Despachador</h5>
                            {% for desp in dados['Despachador'] %}
                            <p>
                                {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                            </p>
                            {% endfor %}
                        </div>


                        <div class="afastamentos__dia">
                            <h5>Afastamentos</h5>
                            {% for af in dados['Afastamentos'] %}
                            <p>
                                {{ af.afastamento }} - {{ af.pt_gr }} {{ af.re }}-{{ af.dg_re }} {{ af.guerra }}
                            </p>
                            {% endfor %}
                        </div>

                    </div>
                        

            

            {% endfor %}



        <div class="supervisao_dia">Supervisão Dia</div>
        <div class="supervisao_noite">Supervisão Noite</div>
        <div class="atendente_dia">Atendente Dia</div>
        <div class="atendente_noite">Atendente Noite</div>
        <div class="despacho_dia">Despacho Dia</div>
        <div class="despacho_noite">Despacho Noite</div>
        <div class="afastamentos_dia">Afastamentos Dia</div>
        <div class="afastamentos_noite">Afastamentos Noite</div>
    </div>


    <div class="titulo__secao">
        <p>
            Escala
        </p>
        <div class="barra__titulo_secao"></div>
    </div>


    <br>
    <p>Dia:</p>
    <h4>{{dataConsulta|date('d/m/Y')}}</h4>

    <table class="table table-bordered" style="width: 400px;"> 
        <tr>
            <th>Dia</th>
            <th>Noite</th>
        </tr>
        <tr>
            <td>{{equipeDia}}</td>
            <td>{{equipeNoite}}</td>
        </tr>
    </table>


    <div class="container__equipes_servico">

  

   


    {% for equipe, dados in efetivoPorEquipe %}

        {% if equipe == equipeDia %}

            <div class="equipes__secao equipe__dia" style="border: 3px dashed blue;">

                <div class="supervisao__dia">
                    <h5>Supervisor</h5>
                    {% for sup in dados['Supervisor'] %}
                    <p>
                        {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                    </p>
                    {% endfor %}
                </div>


                <div class="atendente__dia">
                    <h5>Atendente 190</h5>
                    {% for at in dados['Atendente 190'] %}
                    <p>
                        {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                    </p>
                    {% endfor %}
                </div>


    
                <div class="despacho__dia">
                    <h5>Despachador</h5>
                    {% for desp in dados['Despachador'] %}
                    <p>
                        {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                    </p>
                    {% endfor %}
                </div>


                <div class="afastamentos__dia">
                    <h5>Afastamentos</h5>
                    {% for af in dados['Afastamentos'] %}
                    <p>
                        {{ af.afastamento }} - {{ af.pt_gr }} {{ af.re }}-{{ af.dg_re }} {{ af.guerra }}
                    </p>
                    {% endfor %}
                </div>

            </div>
                

        {% endif %}

    {% endfor %}

    {% for equipe, dados in efetivoPorEquipe %}

        {% if equipe == equipeNoite %}

            <div class="equipes__secao equipe__noite" style="border: 3px dashed black;">

                <div class="supervisao__noite">
                    <h5>Supervisor</h5>
                    {% for sup in dados['Supervisor'] %}
                    <p>
                        {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                    </p>
                    {% endfor %}
                </div>


                <div class="atendente__noite">
                    <h5>Atendente 190</h5>
                    {% for at in dados['Atendente 190'] %}
                    <p>
                        {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                    </p>
                    {% endfor %}
                </div>


    
                <div class="despacho__noite">
                    <h5>Despachador</h5>
                    {% for desp in dados['Despachador'] %}
                    <p>
                        {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                    </p>
                    {% endfor %}
                </div>


                <div class="afastamentos__noite">
                    <h5>Afastamentos</h5>
                    {% for af in dados['Afastamentos'] %}
                    <p>
                        {{ af.afastamento }} - {{ af.pt_gr }} {{ af.re }}-{{ af.dg_re }} {{ af.guerra }}
                    </p>
                    {% endfor %}
                </div>

            </div>
                

        {% endif %}

    {% endfor %}

     </div>


    <div class="container__equipes">

        <div class="container_equipe equipe__dia">

            <h3>Equipe Diurna</h3>
            
            {% for equipe, dados in efetivoPorEquipe %}

                {% if equipe == equipeDia %}

                    <table class="table table-bordered">
                        
                        <tr>
                            <th>Supervisor</th>
                        </tr>

                        {% for sup in dados['Supervisor'] %}
                        <tr>
                            <td>
                                {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th>Atendente 190</th>
                        </tr>

                        {% for at in dados['Atendente 190'] %}
                        <tr>
                            <td>
                                {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                            </td>
                        </tr>
                        {% endfor %}


                        <tr>
                            <th>
                                Despachador
                            </th>
                        </tr>

                        {% for desp in dados['Despachador'] %}
                        <tr>
                            <td>
                                {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <th>
                                Afastamentos
                            </th>
                        </tr>

                        {% for af in dados['Afastamentos'] %}
                         <tr>
                            <td>
                                {{ af.afastamento }} - {{ af.pt_gr }} {{ af.re }}-{{ af.dg_re }} {{ af.guerra }}
                            </td>
                         </tr>
                        {% endfor %}


                        
                    </table>

                {% endif %}

            {% endfor %}

        </div>


        <div class="container_equipe equipe__noite">

            <h3>Equipe Noturna</h3>
            
            {% for equipe, dados in efetivoPorEquipe %}

                {% if equipe == equipeNoite %}

                    <table class="table table-bordered">
                        
                        <tr>
                            <th>Supervisor</th>
                        </tr>

                        {% for sup in dados['Supervisor'] %}
                        <tr>
                            <td>
                                {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th>Atendente 190</th>
                        </tr>

                        {% for at in dados['Atendente 190'] %}
                        <tr>
                            <td>
                                {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                            </td>
                        </tr>
                        {% endfor %}


                        <tr>
                            <th>
                                Despachador
                            </th>
                        </tr>

                        {% for desp in dados['Despachador'] %}
                        <tr>
                            <td>
                                {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <th>
                                Afastamentos
                            </th>
                        </tr>

                        {% for af in dados['Afastamentos'] %}
                         <tr>
                            <td>
                                {{ af.afastamento }} - {{ af.pt_gr }} {{ af.re }}-{{ af.dg_re }} {{ af.guerra }}
                            </td>
                         </tr>
                        {% endfor %}


                        
                    </table>

                {% endif %}

            {% endfor %}

        </div>

    </div>


    <h4>Equipes</h4>

    <table class="table table-bordered" style="width: 800px;"> 
        <tr>
            <th>Equipe {{equipeDia}} (Diurno)</th>
            <th>Equipe {{equipeNoite}} (Noturno)</th>
        </tr>
        <tr>
            <th colspan="2">Supervisor</th>
        </tr>

        <tr>
            <td>
                {% for pm in efetivoDia %}
                    {% if pm.funcao_copom == 'Supervisor' %}
                        <p>{{ pm.pt_gr }} {{ pm.re }}  {{ pm.dg_re }} {{ pm.guerra }}</p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for pm in efetivoNoite %}
                    {% if pm.funcao_copom == 'Supervisor' %}
                        <p>{{ pm.pt_gr }} {{ pm.re }}  {{ pm.dg_re }} {{ pm.guerra }}</p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>


        <tr>
            <th colspan="2">Atendente 190</th>
        </tr>

        <tr>
            <td>
                {% for pm in efetivoDia %}
                    {% if pm.funcao_copom == 'Atendente 190' %}
                        <p>{{ pm.pt_gr }} {{ pm.re }}  {{ pm.dg_re }} {{ pm.guerra }}</p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for pm in efetivoNoite %}
                    {% if pm.funcao_copom == 'Atendente 190' %}
                        <p>{{ pm.pt_gr }} {{ pm.re }}  {{ pm.dg_re }} {{ pm.guerra }}</p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>


        <tr>
            <th colspan="2">Despachador</th>
        </tr>

        <tr>
            <td>
                {% for pm in efetivoDia %}
                    {% if pm.funcao_copom == 'Despachador' %}
                        <p>{{ pm.pt_gr }} {{ pm.re }}  {{ pm.dg_re }} {{ pm.guerra }}</p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for pm in efetivoNoite %}
                    {% if pm.funcao_copom == 'Despachador' %}
                        <p>{{ pm.pt_gr }} {{ pm.re }}  {{ pm.dg_re }} {{ pm.guerra }}</p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>


    </table>








</section>


<div class="equipes__secao container__dia">
    {% for equipe, dados in efetivoPorEquipe %}
        {% if equipe == equipeDia %}
            <div class="equipe__secao">
                <div class="supervisao__secao">
                    <h5>Supervisor</h5>
                    {% for sup in dados['Supervisor'] %}
                    <p>
                        {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                    </p>
                    {% endfor %}
                </div>

                <div class="atendente__secao">
                    <h5>Atendente 190</h5>
                    {% for at in dados['Atendente 190'] %}
                    <p>
                        {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                    </p>
                    {% endfor %}
                </div>

                <div class="despacho__secao">
                    <h5>Despachador</h5>
                    {% for desp in dados['Despachador'] %}
                    <p>
                        {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                    </p>
                    {% endfor %}
                </div>

                <div class="afastamentos__secao">
                    <h5>Afastamentos</h5>
                    {% for af in dados['Afastamentos'] %}
                    <p>
                        {{ af.afastamento }} - {{ af.pt_gr }} {{ af.re }}-{{ af.dg_re }} {{ af.guerra }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="equipes__secao container__noite">
    {% for equipe, dados in efetivoPorEquipe %}
        {% if equipe == equipeNoite %}
            <div class="equipe__secao">
                <div class="supervisao__secao">
                    <h5>Supervisor</h5>
                    {% for sup in dados['Supervisor'] %}
                    <p>
                        {{ sup.pt_gr }} {{ sup.re }}-{{ sup.dg_re }} {{ sup.guerra }}
                    </p>
                    {% endfor %}
                </div>

                <div class="atendente__secao">
                    <h5>Atendente 190</h5>
                    {% for at in dados['Atendente 190'] %}
                    <p>
                        {{ at.pt_gr }} {{ at.re }}-{{ at.dg_re }} {{ at.guerra }}
                    </p>
                    {% endfor %}
                </div>

                <div class="despacho__secao">
                    <h5>Despachador</h5>
                    {% for desp in dados['Despachador'] %}
                    <p>
                        {{ desp.pt_gr }} {{ desp.re }}-{{ desp.dg_re }} {{ desp.guerra }}
                    </p>
                    {% endfor %}
                </div>

                <div class="afastamentos__secao">
                    <h5>Afastamentos</h5>
                    {% for af in dados['Afastamentos'] %}
                    <p>
                        {{ af.afastamento }} - {{ af.pt_gr }} {{ af.re }}-{{ af.dg_re }} {{ af.guerra }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<style>


    /* Container para a seção dia e noite */
.equipes__secao {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Para o dia */
.container__dia {
    background-color: #D1E5FF;  /* Azul claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Para a noite */
.container__noite {
    background-color: #2C3E50;  /* Azul escuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

/* Estilo para cada seção dentro da equipe (supervisor, atendente, etc.) */
.equipe__secao {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Alinhar as seções da equipe */
.supervisao__secao, .atendente__secao, .despacho__secao, .afastamentos__secao {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Títulos das seções */
.supervisao__secao h5,
.atendente__secao h5,
.despacho__secao h5,
.afastamentos__secao h5 {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

/* Estilo para os parágrafos dentro das seções */
.supervisao__secao p,
.atendente__secao p,
.despacho__secao p,
.afastamentos__secao p {
    margin: 5px 0;
    font-size: 14px;
}

/* Ajustes responsivos para garantir boa visualização */
@media (max-width: 768px) {
    .equipes__secao {
        flex-direction: column;
    }
}



</style> -->